$colors: (golden: #d1a954,
  gray-custom: rgba(51, 51, 51, 0.85),
);

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin header-font-style($weight, $size, $line-height) {
  font: {
    weight: $weight;
    size: $size;
  }

  line-height: $line-height;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: #333333;
}

//Default rules

.medium-container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
a,
button {
  font: {
    family: Open Sans Condensed;
    style: normal;
  }

  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1em;
}

h1 {
  @include header-font-style(bold, 64px, 87px);
}

h2 {
  @include header-font-style(300, 48px, 65px);
  text-align: center;
}

h3 {
  @include header-font-style(bold, 21px, 29px);
}

h4 {
  @include header-font-style(bold, 16px, 22px);
  letter-spacing: 0.05em;
}

a {
  @include header-font-style(bold, 18px, 25px);
  text-decoration: none;
}

button {
  @include header-font-style(bold, 18px, 25px);
  background-color: map-get($colors, golden);
  border: none;
  padding: 17px 47px;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    background-color: white;
    color: map-get($colors, golden);
  }
}

span {
  color: map-get($colors, golden);
}

p {
  font: {
    family: Open Sans;
    style: normal;
    weight: normal;
    size: 14px;
  }

  line-height: 150%;
  color: #ffffff;
}

//Contact Info

.contact-info {
  max-width: 1045px;
  max-height: 150px;
  width: 100%;
  transform: rotate(-90deg);
  position: absolute;
  left: -474px;
  top: 447px;
  padding: 34px 383px 34px 86px;
  background-color: #333333bf;
}

.contact-container {
  max-width: 576px;
  max-height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    max-width: 248px;
    font-size: 18px;
    line-height: 25px;
  }

  .line {
    max-width: 80px;
    width: 100%;
    border-top: 3px solid #c4c4c4;
  }
}

.social-media {
  max-width: 174px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  i {
    font-size: 26px;
    transform: rotate(90deg);
    color: #ffffff99;
    cursor: pointer;

    &:last-of-type {
      color: map-get($colors, golden);
    }
  }
}

//Header

header {
  background: {
    image: url(assets/images/first-screen-bg.png);
    repeat: no-repeat;
    size: cover;
    position: center;
  }

  position: relative;

  .header-layer {
    background: map-get($colors, gray-custom);

    padding: {
      top: 51px;
      bottom: 208px;
    }

    .nav-menu {
      display: flex;
      justify-content: space-between;
      margin-bottom: 191px;

      a {
        &:hover {
          padding-bottom: 5px;
          border-bottom: 2px solid map-get($colors, golden);
          margin: -4px 0px;
          cursor: pointer;
          transition: 0.1s;
        }
      }

      .menu-list {
        max-width: 824px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .phone {
        max-width: 120px;
        width: 100%;

        a {
          font-size: 16px;
          line-height: 22px;
          text-align: right;
          letter-spacing: 0.05em;
        }
      }
    }

    .theater-title {
      display: flex;

      .title-container {
        max-width: 540px;

        margin: {
          right: 125px;
          top: 117px;
        }

        h1 {
          margin-bottom: 50px;
        }

        p {
          margin-bottom: 49px;
        }
      }

      .slider {
        max-width: 370px;
        width: 100%;

        .slider-container {
          position: relative;
          margin-bottom: 55px;

          .layer {
            position: absolute;
            bottom: -20px;
            right: 0px;
            z-index: 2;

            &::before {
              background: rgba(209, 169, 84, 0.85);
              content: "";
              height: 100%;
              position: absolute;
              width: 100%;
            }
          }

          >img {
            position: relative;
            z-index: 3;
            animation-name: slider-move;
            animation-duration: 0.3s;
            animation-timing-function: ease-out;
          }

          @keyframes slider-move {
            0% {
              bottom: -20px;
              right: -20px;
            }

            100% {
              bottom: 0px;
              right: 0px;
            }
          }
        }

        .slider-controls {
          display: flex;
          justify-content: space-between;

          .prev,
          .next {
            max-width: 108px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.about-theater {
  padding: 150px 0px;

  h2 {
    margin-bottom: 100px;
  }

  .about-theater-container {
    display: flex;
    justify-content: space-between;

    .about-theater-item {
      &:first-of-type {
        max-width: 445px;
      }

      &:last-of-type {
        max-width: 225px;

        img {
          margin-bottom: 15px;
        }

        h4 {
          margin-bottom: 25px;

          &:last-of-type {
            margin-bottom: 0px;
          }
        }
      }

      h3 {
        margin-bottom: 40px;
      }
    }
  }
}

.perfomances {
  padding-left: 150px;

  h2 {
    margin-bottom: 100px;
  }

  .perfomance-gallery {
    display: flex;

    .gallery-item {
      position: relative;
      cursor: default;

      &:hover {
        .gallery-layer {
          & {
            @include flex-center();
          }

          &::before {
            content: "\f002";

            font: {
              family: "Font Awesome 5 Free";
              size: 30px;
              weight: 900;
            }

            cursor: pointer;
            color: #fff;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: map-get($colors, golden);
            @include flex-center();
          }

          h3,
          h4 {
            display: none;
          }
        }
      }

      .gallery-layer {
        position: relative;

        &::before {
          background-color: #333333a6;
          content: "";
          height: 100%;
          position: absolute;
          width: 100%;
        }

        img {
          max-width: 442px;
          width: 100%;
        }

        h3 {
          position: absolute;
          top: 40px;
          left: 40px;
          font-size: 24px;
          line-height: 33px;
          letter-spacing: 0.05em;
        }

        h4 {
          position: absolute;
          bottom: 40px;
          left: 40px;
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }
}

.rating {
  padding-top: 150px;

  .medium-container {
    background: {
      image: url(assets/images/rating-bg.png);
      repeat: no-repeat;
      size: cover;
      position: center;
    }

    .rating-layer {
      background: {
        color: #333333E5;
      }

      padding: 126px 95px 126px 190px;
      display: flex;

      .rating-years {
        margin-right: 103px;

        h2 {
          color: map-get($colors, golden);
          font-size: 72px;
          font-weight: bold;
          line-height: 98px;
        }
      }

      .rating-content {
        max-width: 490px;

        p {
          font: {
            style: normal;
            weight: bold;
            size: 36px;
          }     
          line-height: 150%;
        }
      }
    }
  }
}